<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bitcoin Test - {{ testPage }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bitcoin Test - {{ testPage }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-loading *ngIf="loading"></app-loading>

  <div id="container" *ngIf="!loading">
    <!-- Test 1 and 2 - Registration form -->
    <div *ngIf="(testPage === 1 || testPage === 2) && !privateKey">
      <app-register (userRegisterEvent)="registerUser($event)" [error]="registrationError"></app-register>
    </div>
    <div *ngIf="privateKey">
      <app-backup-key (userBackedUpKeyEvent)="navigateTo('/completed')" [privateKey]="privateKey"></app-backup-key>
    </div>
    <div *ngIf="testPage === 3 && !privateKey">
      <app-generate-key (userGeneratesKeyEvent)="generateKeys()"></app-generate-key>
    </div>
  </div>
</ion-content>