<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="wifTest">WIF Test - {{ testPage }}</ion-title>
    <ion-title *ngIf="!wifTest">Mnemonic Test - {{ testPage }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title *ngIf="wifTest" size="large">WIF Test - {{ testPage }}</ion-title>
      <ion-title *ngIf="!wifTest" size="large">Mnemonic Test - {{ testPage }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-loading *ngIf="loading"></app-loading>


  <div id="container" *ngIf="!loading">

    <div *ngIf="(testPage === 1) && !privateKey">
      <app-register (userRegisterEvent)="registerUser($event)" [error]="registrationError"></app-register>
    </div>
    <div *ngIf="testPage === 2 && !privateKey">
      <app-generate-key (userGeneratesKeyEvent)="generateKeys()"></app-generate-key>
    </div>
    <div *ngIf="privateKey">
      <app-backup-key (userBackedUpKeyEvent)="navigateTo('/completed')" [privateKey]="privateKey"></app-backup-key>
    </div>
  </div>
</ion-content>